<mat-card>
    <mat-card-content>
        <!-- judul -->
        <h1>Add Earning Rule</h1>
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <div class="loading-shade" *ngIf="isWaitingDownload">
        <mat-spinner *ngIf="isWaitingDownload"></mat-spinner>
    </div>
    <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Basic Information</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>     -->
    <mat-card-content>
        <form [formGroup]="EarningRuleForm" class="EarningRuleForm">
            <div class="basic-information">
                <mat-card-header>
                    <mat-card-title>Basic Information</mat-card-title>
                </mat-card-header>
                <mat-form-field class="full-width">
                    <mat-label>Name </mat-label>
                    <input matInput formControlName="_name" #name required>
                    <mat-error>
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Description </mat-label>
                    <input matInput formControlName="_desc" #desc required>
                    <mat-error>
                        Description is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Active</mat-label>
                    <mat-select matNativeControl required formControlName="_activity" name="activity" #activity>
                        <mat-option value="" selected></mat-option>
                        <mat-option *ngFor="let activity of activities" [value]="activity.value">
                            {{activity.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Active is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Partner</mat-label>
                    <mat-select matNativeControl required formControlName="_partner" name="_partner" #_partner>
                        <mat-option value="" selected></mat-option>
                        <mat-option *ngFor="let partner of partners" [value]="partner.value">
                            {{partner.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <br>
            <div class="type-details">
                <mat-card-header>
                    <mat-card-title>Type Details</mat-card-title>
                </mat-card-header>
                <mat-form-field class="full-width">
                    <mat-label>Type</mat-label>
                    <mat-select matNativeControl required formControlName="_typedetail" name="typedetail" #typedetail
                        (ngModelChange)="typechange($event)">
                        <mat-option value="none" selected></mat-option>
                        <mat-option *ngFor="let typedetail of typedetials" [value]="typedetail.value">
                            {{typedetail.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- start general spending rule -->
                <div class="general-spending-rule" #generalspendingrule style="display: none;">

                    <mat-form-field class="full-width">
                        <mat-label>Point Value </mat-label>
                        <input matInput formControlName="_gsr_pointValue" #gsr_pointvalue (keypress)="onlyNumberKey($event)">
                        <mat-error>
                            Point Value is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Excluded SKUs </mat-label>
                        <input matInput formControlName="_gsr_excludedSku" #gsr_excludedsku>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Min Order Value </mat-label>
                        <input matInput formControlName="_gsr_minOrderValue" #gsr_minordervalue (keypress)="onlyNumberKey($event)">
                    </mat-form-field>
                </div>
                <!-- end general spending rule -->

                <!-- start multiply-earning-points -->
                <div class="multiply-earning-points" #multiplyearningpoints style="display: none;">
                    <mat-form-field class="full-width">
                        <mat-label>SKU </mat-label>
                        <input matInput formControlName="_mep_sku" #mep_sku>
                        <mat-error>
                            SKU is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Multiplier </mat-label>
                        <input matInput formControlName="_mep_multiplier" #mep_multiplier (keypress)="onlyNumberKey($event)">
                        <mat-error>
                            Multiplier is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- end multiply-earning-points -->
                <!-- start instant-reward-->
                <div class="instant-reward" #instantreward style="display: none;">
                </div>
                <!-- end instant-reward-->
                <!-- start custom-event-rule-->
                <div class="custom-event-rule" #customeventrule style="display: none;" >
                    <mat-form-field class="full-width">
                        <mat-label>Custom Event Name </mat-label>
                        <input matInput formControlName="_cer_customEventName" #cer_customeventname>
                        <mat-error>
                            Custom Event Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Points </mat-label>
                        <input matInput formControlName="_cer_points" #cer_points (keypress)="onlyNumberKey($event)">
                        <mat-error>
                            Points is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <div class="full-width" style="margin-top: 10px;margin-bottom: 10px;">
                        <label>Usage Limit Active &emsp; </label>
                        <mat-checkbox (change)="ULACheckbox($event)" formControlName="_cer_ulacheckbox"></mat-checkbox>
                    </div>

                    <mat-form-field class="full-width">
                        <mat-label>Period</mat-label>
                        <mat-select matNativeControl required formControlName="_cer_period" name="_cer_period" #cer_period>
                            <mat-option value="" selected></mat-option>
                            <mat-option *ngFor="let period of periods" [value]="period.value">
                                {{period.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Limit </mat-label>
                        <input matInput formControlName="_cer_limit" #cer_limit (keypress)="onlyNumberKey($event)">
                        <mat-error>
                            Limit is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- end custom-event-rule-->
                <!-- start custom referral-->
                <div class="custom-referral" #customreferral style="display: none;">
                    <mat-form-field class="full-width">
                        <mat-label>Event Name</mat-label>
                        <mat-select matNativeControl required formControlName="_cr_eventName" name="_cr_eventName" #cr_eventname>
                            <mat-option value="" selected></mat-option>
                            <mat-option *ngFor="let eventname of cr_eventnames" [value]="eventname.value">
                                {{eventname.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Reward</mat-label>
                        <mat-select matNativeControl required formControlName="_cr_reward" name="_reward" #cr_reward>
                            <mat-option value="" selected></mat-option>
                            <mat-option *ngFor="let reward of rewards" [value]="reward.value">
                                {{reward.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Point </mat-label>
                        <input matInput formControlName="_cr_point" #cr_point (keypress)="onlyNumberKey($event)">
                        <mat-error>
                            Point is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- end custom referral-->
                <!-- start event-rule-->
                <div class="event-rule" #eventrule style="display: none;">
                    <mat-form-field class="full-width">
                        <mat-label>Event Name</mat-label>
                        <mat-select matNativeControl required formControlName="_er_eventName" name="_er_eventName" #er_eventname>
                            <mat-option value="" selected></mat-option>
                            <mat-option *ngFor="let eventname of er_eventnames" [value]="eventname.value">
                                {{eventname.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Points </mat-label>
                        <input matInput formControlName="_er_points" #er_points (keypress)="onlyNumberKey($event)">
                        <mat-error>
                            Points is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- end event-rule-->
            </div>
            <br>
            <div class="activity-of-rule">
                <mat-card-header>
                    <mat-card-title>Activity of rule</mat-card-title>
                </mat-card-header>
                <div class="full-width" style="margin-top: 10px;margin-bottom: 10px;">
                    <label>All time Active &emsp; </label>
                    <mat-checkbox (change)="ATACheckbox($event)" formControlName="_atacheckbox"></mat-checkbox>
                </div>
                <div class="dateATA" style="display: none;" #dateata>
                    <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="dp" placeholder="From date : dd/MM/yyyy" formControlName="_fromDate" #fromdate>
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="dp2" placeholder="Through date : dd/MM/yyyy" formControlName="_toDate" #todate>
                        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                        <mat-datepicker #dp2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div class="target" style="display:none">
                <mat-card-header>
                    <mat-card-title>Target</mat-card-title>
                </mat-card-header>
                <mat-form-field class="full-width">
                    <mat-label>Levels</mat-label>
                    <mat-select matNativeControl required formControlName="_levels" name="_levels" #level>
                        <mat-option value="" selected></mat-option>
                        <mat-option *ngFor="let level of levels" [value]="level.value">
                            {{level.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <br>
            <div class="reward-campaign" #rewardcampaign style="display: none;">
                <mat-card-header>
                    <mat-card-title>Reward Campaign</mat-card-title>
                </mat-card-header>
                <mat-form-field class="full-width">
                    <mat-label>Reward Campaign</mat-label>
                    <mat-select matNativeControl required formControlName="_rewardCampaign" name="_rewardCampaign" #rewardcampaign>
                        <mat-option value="" selected></mat-option>
                        <!-- <mat-option *ngFor="let level of levels" [value]="level.value">
                            {{level.viewValue}}
                        </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button style="margin-right: 5px;" mat-raised-button color="primary" #saveFormButton (click)="saveForm()">
            Save
        </button>
        <button style="margin-right: 5px;" mat-raised-button color="warn" (click)="cancelForm()">
            Cancel
        </button>
      </mat-card-actions>
</mat-card>