<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<h1 mat-dialog-title>Add New Eligible User</h1>
<form [formGroup]="dataForm" (ngSubmit) = "submit()">
    <div mat-dialog-content>
        <mat-form-field style="margin-bottom: 2%;">
            <input matInput placeholder="Name" formControlName="nama">
            <mat-error *ngIf="f.nama.errors">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        
        <mat-form-field style="margin-bottom: 2%;">
            <input matInput placeholder="Merchant ID" formControlName="merchant_id">
            <mat-error *ngIf="f.merchant_id.errors">
                Merchant ID is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field style="margin-bottom: 2%;">
            <input matInput pattern="0[0-9]*" placeholder="Phone" formControlName="phone">
            <mat-error *ngIf="f.phone.errors">
                Phone number
                <span *ngIf="f.phone.errors.required"> is <strong>required</strong></span>
                <span *ngIf="f.phone.errors.pattern && f.phone.value[0] == 0"> can <strong>only contain numbers</strong></span>
                <span *ngIf="f.phone.errors.pattern && f.phone.value[0] != 0"> <strong>must start with the number 0</strong></span>
                <span *ngIf="f.phone.errors.minlength && !f.phone.errors.pattern"> <strong>must contain 12 digits</strong></span>
                <span *ngIf="f.phone.errors.maxlength && !f.phone.errors.pattern"> <strong>must not exceed 12 digits</strong></span>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select Institution</mat-label>
            <mat-select formControlName="institution">
                <mat-option value="Ottopay">
                    Ottopay
                </mat-option>
                <mat-option value="Pede">
                    Pede
                </mat-option>
            </mat-select>
            <mat-error *ngIf="f.institution.errors">
                Institution is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
        <button mat-raised-button type="submit" color="primary">Submit</button>
    </div>
</form>