<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
    
<h1 mat-dialog-title align="center">
    Register this user "{{f.firstName.value}}<span *ngIf="f.lastName.value != '-'"> {{f.lastName.value}}</span>"?
</h1>
<form [formGroup]="dataForm" (ngSubmit) = "yes()">
    <div mat-dialog-actions align="center">
        <button mat-raised-button (click)="no()" color="warn">No</button>
        <button mat-raised-button type="submit" color="primary">Yes</button>
    </div>
</form>