<mat-card>
    <div class="loading-shade" *ngIf="isWaitingDownload">
        <mat-spinner *ngIf="isWaitingDownload"></mat-spinner>
    </div>
    <!-- judul -->
    <h1>Ultra Voucher</h1>
    <!-- filters -->
    <br>
    <mat-form-field class="filter-field">
        <input matInput [matDatepicker]="dp" placeholder="From date : dd/MM/yyyy" [(ngModel)]="fq.from_date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="filter-field">
        <input matInput [matDatepicker]="dp2" placeholder="Through date : dd/MM/yyyy" [(ngModel)]="fq.through_date">
        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2></mat-datepicker>
    </mat-form-field>
    <!-- <mat-form-field class="filter-field">
        <input matInput placeholder="Email" [(ngModel)]="fq.email">
    </mat-form-field>
    <mat-form-field class="filter-field">
        <input matInput placeholder="Account number" [(ngModel)]="fq.phone">
    </mat-form-field> -->
    <mat-form-field class="filter-field">
        <mat-label>SKU</mat-label>
        <mat-select [(ngModel)]="fq.sku">
            <mat-option [value]="">
                None
            </mat-option>
            <mat-option *ngFor="let p of sku" [value]="p.v">
                {{p.k}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="filter-field">
        <input matInput placeholder="Acc ID" [(ngModel)]="fq.acc_id">
    </mat-form-field>
    <!-- <mat-form-field class="filter-field">
        <input matInput placeholder="Product code" >
    </mat-form-field> -->
    <!-- <mat-form-field class="filter-field">
        <mat-label>Product type</mat-label>
        <mat-select >
            <mat-option [value]="">
                None
            </mat-option>
            <mat-option *ngFor="let p of productTypes" [value]="p.v"> -->
                <!-- {{p.k}} -->
            <!-- </mat-option>
        </mat-select>
    </mat-form-field> -->
    <mat-form-field class="filter-field">
        <input matInput placeholder="Voucher ID" [(ngModel)]="fq.voucher_id">
    </mat-form-field>
    <mat-form-field class="filter-field">
        <input matInput placeholder="Voucher Code" [(ngModel)]="fq.voucher_code">
    </mat-form-field>
    <mat-form-field class="filter-field">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="fq.status">
            <mat-option value="">
                None
            </mat-option>
            <mat-option value="used">
                Used
            </mat-option>
            <mat-option value="unused">
                Unused
            </mat-option>
            <mat-option value="reuse">
                Reused
            </mat-option>
            <mat-option value="expired">
                Expired
            </mat-option>
            <mat-option value="unused_expired">
                Unused Expired
            </mat-option>
        </mat-select>
    </mat-form-field>    <!-- actions -->
    <br>
    <button mat-raised-button color="primary" (click)="submitFilter()">Filter</button>
    <button mat-stroked-button color="warn" (click)="clearFilter()">Clear Filter</button>
    <button mat-raised-button color="primary" class="btn-export-to-csv" (click)="exportToCSV()">
        Export to CSV
    </button>
    <button mat-raised-button color="primary" (click)="exportToXLSX()">
        Export to XLSX
    </button>
    <!-- table -->
    <div class="parent-table-container">
        <div class="loading-shade" *ngIf="isLoadingResults || isNoData">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="no-data" *ngIf="isNoData">
                No Data
            </div>
        </div>
        <div class="table-container" [style.height.px]="tableHeight">
            <table mat-table [dataSource]="dataTable"
                matSort matSortActive="created_at" matSortDisableClear matSortDirection="desc">

                <ng-container matColumnDef="no" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear disabled>
                        No
                    </th>
                    <td mat-cell *matCellDef="let i = index">{{(paginator.pageSize * paginator.pageIndex) + (i+1)}}</td>
                </ng-container>
                
                <ng-container matColumnDef="voucher_code" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Voucher Code
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.voucher_code}}</td>
                </ng-container>

                <ng-container matColumnDef="voucher_id" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Voucher ID
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.voucher_id}}</td>
                </ng-container>

                <ng-container matColumnDef="voucher_name" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Voucher Name
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.voucher_name}}</td>
                </ng-container>

                <ng-container matColumnDef="phone" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Phone Number
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.phone}}</td>
                </ng-container>

                <ng-container matColumnDef="institution_id" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Partner
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.institution_id}}</td>
                </ng-container>

                <ng-container matColumnDef="expiry_date_uv" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Expiry Date UV
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.expiry_date_uv  | date:'shortDate'}}</td>
                </ng-container>

                <ng-container matColumnDef="expiry_date_op" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Expiry Date OP
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.expiry_date_op | date:'shortDate'}}</td>
                </ng-container>

                <ng-container matColumnDef="status" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Status
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.status}}</td>
                </ng-container>

                <ng-container matColumnDef="account_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Account ID
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.account_id}}</td>
                </ng-container>

                <ng-container matColumnDef="order_no" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Order NO
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.order_no}}</td>
                </ng-container>

                <ng-container matColumnDef="invoice_no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Invoice No 
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.invoice_no}}</td>
                </ng-container>

                <ng-container matColumnDef="reff_reuse">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Reff Reuse
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.reff_reuse}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
        <!-- paginator -->
        <mat-paginator [length]="dataTableLength" [pageSizeOptions]="[10, 15, 20, 100]"></mat-paginator>
</mat-card>
