<mat-card>
    <!-- judul -->
    <h1>Setting Variables Transaction</h1>
    <mat-form-field>
        <input matInput type="number" placeholder="Points earned from PPOB transactions in percentage (%)" [(ngModel)]="transaksiPPOB" pattern="[0-9].[0-9]*" disabled="{{isDisabled}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Points earned from QR transactions in percentage (%)" [(ngModel)]="transaksiPayQr" pattern="[0-9].[0-9]*" disabled="{{isDisabled}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Points earned from Merchant Transactions in percentage (%)" [(ngModel)]="transaksiMerchant" pattern="[0-9].[0-9]*" disabled="{{isDisabled}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Maximum points earned on each transaction" [(ngModel)]="limitTransaksi" pattern="[0-9]*" disabled="{{isDisabled}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Minimum transaction amount (IDR) to earn point" [(ngModel)]="minimalTransaksi" pattern="[0-9]*" disabled="{{isDisabled}}">
    </mat-form-field>
    <mat-card-actions>
        <button mat-raised-button color="warn" (click)="edit()" disabled="{{isEditDisabled}}">Edit</button>
        <button mat-stroked-button color="warn" (click)="cancel()" disabled="{{isCancelDisabled}}">Cancel</button>
        <button mat-raised-button color="primary" (click)="save()" disabled="{{isSaveDisabled}}">Save</button>
    </mat-card-actions>
</mat-card>
