<mat-card>
    <!-- judul -->
    <h1>Setting Variables Transaction</h1>
    <mat-form-field>
        <input matInput placeholder="Transaksi PPOB" [(ngModel)]="transaksiPPOB" disabled="{{isDisabled}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Transaksi PPOB" [(ngModel)]="transaksiPPOB" disabled="{{isDisabled}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Transaksi PPOB" [(ngModel)]="transaksiPPOB" disabled="{{isDisabled}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Transaksi PPOB" [(ngModel)]="transaksiPPOB" disabled="{{isDisabled}}">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Transaksi PPOB" [(ngModel)]="transaksiPPOB" disabled="{{isDisabled}}">
    </mat-form-field>
</mat-card>
