<mat-card>
    <div class="loading-shade" *ngIf="isWaitingDownload">
        <mat-spinner *ngIf="isWaitingDownload"></mat-spinner>
    </div>
    <!-- judul -->
    <h1>Add New Partner</h1>
    <mat-card-content>
    <form [formGroup]="partnerForm" class="partner-form">
        <mat-form-field class="partner-full-width">
          <mat-label>Nama Perusahaan</mat-label>
          <input matInput formControlName="_namaPerusahaan">
            <mat-error>
                Nama Perusahaan is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="partner-full-width">
            <mat-label>Nama Brand</mat-label>
            <input matInput formControlName="_namaBrand">
              <mat-error>
                  Nama Brand is <strong>required</strong>
              </mat-error>
          </mat-form-field>

        <mat-form-field class="partner-full-width">
            <mat-label>Alamat Perusahaan</mat-label>
            <input matInput formControlName="_alamatPerusahaan">
            <mat-error>
                Alamat Perusahaan is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="partner-full-width">
            <mat-label>Alamat Domisili</mat-label>
            <input matInput formControlName="_alamatDomisili">
            <mat-error>
                Alamat Domisili is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="partner-full-width">
            <mat-label>No Telp</mat-label>
            <input matInput formControlName="_noTelp" (keypress)="onlyNumberKey($event)" maxlength="14">
            <mat-error>
                No Telp is <strong>required</strong>
            </mat-error>
        </mat-form-field>        

        <mat-form-field class="partner-full-width">
            <mat-label>Jenis Usaha</mat-label>
            <input matInput formControlName="_jenisUsaha">
            <mat-error>
                Jenis Usaha is <strong>required</strong>
            </mat-error>
        </mat-form-field>                
 
        <mat-form-field class="partner-full-width">
            <mat-label>Tax Number</mat-label>
            <input matInput formControlName="_taxNumber" (keypress)="onlyNumberKey($event)" maxlength="9">
            <mat-error>
                Tax Number is <strong>required</strong>
            </mat-error>
        </mat-form-field>          

        <section class="partner-full-width" style="margin-top: 10px;">
            <mat-label style="margin-right:15px;">User Type</mat-label>
            <mat-radio-group aria-label="Select an option" formControlName="_userType">
                <mat-radio-button value="BlackList">BlackList</mat-radio-button>
                <mat-radio-button value="WhiteList">WhiteList</mat-radio-button>
              </mat-radio-group>
          </section>

        <mat-form-field class="partner-full-width">
            <mat-label>PIC Name</mat-label>
            <input matInput formControlName="_picName">
            <mat-error>
                PIC Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>       
        
        <mat-form-field class="partner-full-width">
            <mat-label>PIC Phone</mat-label>
            <input matInput formControlName="_picPhone" (keypress)="onlyNumberKey($event)" maxlength="14">
            <mat-error>
                PIC Phone is <strong>required</strong>
            </mat-error>
        </mat-form-field>       

        <mat-form-field class="partner-full-width">
            <mat-label>PIC Email</mat-label>
            <input matInput formControlName="_picEmail" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" >
            <mat-error>
                PIC Email is <strong>required</strong> or Email is invalid
            </mat-error>
        </mat-form-field>       

        <mat-form-field class="partner-full-width" style="display: none;">
            <mat-label>Store (Optional)</mat-label>
            <input matInput formControlName="_store" value="" readonly>
        </mat-form-field>          

        <div class="partner-full-width" style="display: none;">
            <button mat-raised-button color="primary" (click)="openFormAddNewStore()">
                Add New Store
            </button>
        </div>          

        <div class="partner-full-width" style="margin:10px">
            <label style="margin-right:15px;">Import File </label> 
            <input type="file" (change)="onImportFileChange($event, i)" multiple accept="application/pdf">
        </div>          

        <div class="partner-full-width">
            <button style="margin-right: 5px;" mat-raised-button color="primary" #saveFormButton (click)="saveData('draft')">
                Create & Save
            </button>
            <button style="margin-right: 5px;" mat-raised-button color="warn" (click)="cancelForm()">
                Cancel
            </button>
            <button style="margin-right: 5px;" mat-raised-button color="primary" #submitFormButton (click)="saveData('Waiting for approval')">
                Create & Submit
            </button>
        </div>       

    </form>
</mat-card-content>


</mat-card>