
.filter-field {
    margin-right: 2%;
    width: 23%;
}

button{
    margin-right: 1%;
}

.parent-table-container {
    position: relative;
}
.table-container {
    margin-top: 1%;
    border: 1px solid #a5a5a5;
    position: relative;
    min-height: 200px;
    max-height: 430px;
    overflow: auto;
}
table {
    width: 100%;
}
th{
    background-color: #f0f0f0;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-data {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

mat-form-field{
    width: 100%;
}
::ng-deep snack-bar-container.snack-bar-ekstra-css{
    margin-top: 50%;
}

/* 
sebenarnya bisa dipakaikan class agar tidak dilist satu-satu,
tapi di sini dilist satu-satu supaya tau dan gampang edit style tiap kolom 
*/
.mat-column-merchant_id,
.mat-column-amount,
.mat-column-date_time,
.mat-column-created_at,
.mat-column-updated_at,
.mat-column-point,
.mat-column-cust_id {
    white-space: nowrap;
    padding: 8px;
    border-right: 1px solid #e0e0e0;
}
.mat-column-cust_id {
    white-space: normal;
    border-left: 1px solid #e0e0e0;
}
.mat-column-merchant_id {
    white-space: normal;
}
.mat-column-point {
    border-right: none;
}