<h2 mat-dialog-title>Edit Patner</h2>

<mat-dialog-content>
  
    <!-- <form [formGroup]="partnerForm" class="partner-form"> -->
        <mat-form-field class="partner-full-width">
          <mat-label>Nama Perusahaan</mat-label>
          <input matInput type="text" [(ngModel)]="name" disabled="{{isDisabled}}">
        </mat-form-field>

        <mat-form-field class="partner-full-width">
            <mat-label>Alamat Perusahaan</mat-label>
            <input matInput type="text" [(ngModel)]="address" disabled="{{isDisabled}}">
        </mat-form-field>

        <mat-form-field class="partner-full-width">
            <mat-label>Alamat Domisili</mat-label>
            <input matInput type="text" [(ngModel)]="residenceAddress" disabled="{{isDisabled}}">
        </mat-form-field>

        <mat-form-field class="partner-full-width">
            <mat-label>No Telp</mat-label>
            <input matInput type="number" [(ngModel)]="phone" disabled="{{isDisabled}}">
        </mat-form-field>        

        <mat-form-field class="partner-full-width">
            <mat-label>Jenis Usaha</mat-label>
            <input matInput type="text" [(ngModel)]="businessType" disabled="{{isDisabled}}">
        </mat-form-field>                
 
        <mat-form-field class="partner-full-width">
            <mat-label>Tax Number</mat-label>
            <input matInput type="text" [(ngModel)]="taxNumber" disabled="{{isDisabled}}">
        </mat-form-field>          

        <!-- <mat-form-field class="partner-full-width">
        <mat-label>Type User</mat-label>
        <input matInput type="number" [(ngModel)]="typeUser" disabled="{{isDisabled}}">
        </mat-form-field> -->

        <mat-label>User Type </mat-label>
        <section class="partner-full-width" style="margin-top: 10px;">
            <mat-radio-group aria-label="Select an option" (ngModel)="typeUser">
                <mat-radio-button value="0" [checked]="checkedBL" style="margin-right: 20px;">BlackList</mat-radio-button>
                <mat-radio-button value="1" [checked]="checkedWL" style="margin-right: 20px;">WhiteList</mat-radio-button>
            </mat-radio-group>
          </section>

        <br>
        <mat-label>PIC</mat-label>
        <br>
        <mat-form-field class="partner-30">
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="picName" disabled="{{isDisabled}}">
        </mat-form-field>       
        
        <mat-form-field class="partner-30">
            <mat-label>PIC Phone</mat-label>
            <input matInput type="text" [(ngModel)]="picPhone" disabled="{{isDisabled}}">
        </mat-form-field>    
        
        <mat-form-field class="partner-30">
            <mat-label>PIC Email</mat-label>
            <input matInput type="text" [(ngModel)]="picEmail" disabled="{{isDisabled}}">
        </mat-form-field> 


<!-- store details -->
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Store
          </mat-panel-title>
          <mat-panel-description>
              {{countStore}} Store
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-expansion-panel *ngFor="let stores of dataStore">
            <mat-expansion-panel-header>
              <mat-panel-title>{{stores.name}}</mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field class="partner-30">
                <mat-label>Store name</mat-label>
                <input matInput type="text" [(ngModel)]=stores.name disabled="{{isDisabled}}">
            </mat-form-field>
            <mat-form-field class="partner-30">
                <mat-label>Description</mat-label>
                <input matInput type="text" [(ngModel)]=stores.description disabled="{{isDisabled}}">
            </mat-form-field>

            <mat-form-field class="partner-30">
                <mat-label>Building name</mat-label>
                <input matInput type="text" [(ngModel)]=stores.buildingname disabled="{{isDisabled}}">
            </mat-form-field>


            <mat-form-field class="partner-30">
                <mat-label>Unit name</mat-label>
                <input matInput type="text" [(ngModel)]=stores.unitname disabled="{{isDisabled}}">
            </mat-form-field>

            <mat-form-field class="partner-30">
                <mat-label>Street name</mat-label>
                <input matInput type="text" [(ngModel)]=stores.streetname disabled="{{isDisabled}}">
            </mat-form-field>

            <mat-form-field class="partner-30">
                <mat-label>City</mat-label>
                <input matInput type="text" [(ngModel)]=stores.city disabled="{{isDisabled}}">
            </mat-form-field>

            <mat-form-field class="partner-30">
                <mat-label>Country</mat-label>
                <input matInput type="text" [(ngModel)]=stores.country disabled="{{isDisabled}}">
            </mat-form-field>

            <mat-form-field class="partner-30">
                <mat-label>Postal code</mat-label>
                <input matInput type="text" [(ngModel)]=stores.postalCode disabled="{{isDisabled}}">
            </mat-form-field>

            <mat-form-field class="partner-30">
                <mat-label>Latitude</mat-label>
                <input matInput type="text" [(ngModel)]=stores.latitude disabled="{{isDisabled}}">
            </mat-form-field>

            <mat-form-field class="partner-30">
                <mat-label>Longtitude</mat-label>
                <input matInput type="text" [(ngModel)]=stores.longtitude disabled="{{isDisabled}}">
            </mat-form-field>

            <mat-form-field class="partner-30">
                <mat-label>Created at</mat-label>
                <input matInput type="text" [(ngModel)]=stores.createdAt disabled="{{isDisabled}}">
            </mat-form-field>

            <mat-form-field class="partner-30">
                <mat-label>Created by</mat-label>
                <input matInput type="text" [(ngModel)]=stores.createdBy disabled="{{isDisabled}}">
            </mat-form-field>

            <mat-form-field class="partner-30">
                <mat-label>Updated at</mat-label>
                <input matInput type="text" [(ngModel)]=stores.updatedAt disabled="{{isDisabled}}">
            </mat-form-field>

            <mat-form-field class="partner-30">
                <mat-label>Updated by</mat-label>
                <input matInput type="text" [(ngModel)]=stores.updatedBy disabled="{{isDisabled}}">
            </mat-form-field>
        
          </mat-expansion-panel>
    
      </mat-expansion-panel>
</mat-accordion>
<!-- store details -->
        <br>
        
<!-- file download -->
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>File Download</mat-panel-title>
          <mat-panel-description>
              {{countFile}} Files
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div *ngFor="let dtaFiles of dataFile">
            <mat-form-field class="partner-30">
                <mat-label>File name</mat-label>
                <input matInput type="text" [(ngModel)]=dtaFiles.fileName disabled="{{isDisabled}}">
            </mat-form-field>
            <a (click)="downloadFile(dtaFiles.Path)">
                <mat-icon class="icon" aria-hidden="false" aria-label="Rohmet Ganteng">vertical_align_bottom</mat-icon>
            </a>
        </div>
  

        

      </mat-expansion-panel>
</mat-accordion>
<!-- file download -->
        
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button mat-primary"(click)="approved()">Approved</button>
    <button class="mat-raised-button"(click)="close()">Cencel</button>
</mat-dialog-actions>