.container-users {
    display: flex;
}

.t {
    background-color: rgb(230, 255, 230);
}
.eu {
    background-color: rgb(255, 245, 230);
}

mat-card {
    margin: 1%;
    width: 100%;
}
mat-card-content {
    text-align: center;
}
@media only screen and (max-width: 1100px) {
    .container-users {
        display: inline;
    }
    mat-card {
        margin: 1%;
        width: auto;
    }
}