<p>redeem-voucher-opl works!</p>
<mat-card>
    <div class="loading-shade" *ngIf="isWaitingDownload">
        <mat-spinner *ngIf="isWaitingDownload"></mat-spinner>
    </div>
    <!-- judul -->
    <h1>Vouchers Redeem OPL</h1>
    <!-- filters -->
    <br>
    <mat-form-field class="filter-field">
        <input matInput [matDatepicker]="dp" placeholder="From date : dd/MM/yyyy" [(ngModel)]="fq.from_date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="filter-field">
        <input matInput [matDatepicker]="dp2" placeholder="Through date : dd/MM/yyyy" [(ngModel)]="fq.through_date">
        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="filter-field">
        <mat-label>Voucher Name</mat-label>
        <mat-select [(ngModel)]="fq.voucher">
            <mat-option [value]="">
                None
            </mat-option>
            <mat-option *ngFor="let p of vouchersName" [value]="p.v">
                {{p.k}}
            </mat-option>
        </mat-select>    </mat-form-field>
        <mat-form-field class="filter-field">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="fq.Type">
                <mat-option [value]="">
                    None
                </mat-option>
                <mat-option value="value_code">
                    Value Code
                </mat-option>
                <mat-option value="discount_code">
                    Discount Code
                </mat-option>
            </mat-select>
        </mat-form-field>
    <mat-form-field class="filter-field">
        <mat-label>Vendor</mat-label>
        <mat-select [(ngModel)]="fq.vendor">
            <mat-option [value]="">
                None
            </mat-option>
            <mat-option value="OttoAG">
                OttoAG
            </mat-option>
            <mat-option value="UltraVoucher">
                UltraVoucher
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="filter-field">
        <input matInput placeholder="Customer Name" [(ngModel)]="fq.customerName">
    </mat-form-field>
    <!-- <mat-form-field class="filter-field">
        <input matInput placeholder="Merchant ID" [(ngModel)]="fq.merchant_id">
    </mat-form-field> -->
    <mat-form-field class="filter-field">
        <mat-label>Partner</mat-label>
        <mat-select [(ngModel)]="fq.partner">
            <mat-option [value]="">
                None
            </mat-option>
            <mat-option value="OTTOSG">
                OTTOSG
            </mat-option>
            <mat-option value="OTTOPAY">
                OTTOPAY
            </mat-option>
            <mat-option value="PEDE">
                PEDE
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="filter-field">
        <input matInput placeholder="Reff number" [(ngModel)]="fq.rrn">
    </mat-form-field>
    <!-- <mat-form-field class="filter-field">
        <input matInput placeholder="Status" [(ngModel)]="fq.status">
    </mat-form-field> -->
    <!-- actions -->
    <br>
    <button mat-raised-button color="primary" (click)="submitFilter()">Filter</button>
    <button mat-stroked-button color="warn" (click)="clearFilter()">Clear Filter</button>
    <button mat-raised-button color="primary" (click)="exportToCSV()">
        Export to CSV
    </button>
    <button mat-raised-button color="primary" (click)="exportToXLSX()">
        Export to XLSX
    </button>
    <!-- table -->
    <div class="parent-table-container">
        <div class="loading-shade" *ngIf="isLoadingResults || isNoData">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="no-data" *ngIf="isNoData">
                No Data
            </div>
        </div>
        <div class="table-container" [style.height.px]="tableHeight">
            <table mat-table [dataSource]="dataTable"
                matSort matSortActive="id" matSortDisableClear matSortDirection="desc">
                
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        ID
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.id}}</td>
                </ng-container>

                <ng-container matColumnDef="no" sticky>
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        No
                    </th>
                    <td mat-cell *matCellDef="let i = index">{{(paginator.pageSize * paginator.pageIndex) + (i+1)}}</td>
                </ng-container>

                <ng-container matColumnDef="purchaseAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Date Redeem
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.purchaseAt}}</td>
                </ng-container>

                <ng-container matColumnDef="timeRedeem">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Time Redeem
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.timeRedeem}}</td>
                </ng-container>

                <ng-container matColumnDef="dateUsage">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Date Usage
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.dateUsage}}</td>
                </ng-container>

                <ng-container matColumnDef="timeUsage">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Time Usage
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.timeUsage}}</td>
                </ng-container>

                <ng-container matColumnDef="customerName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Firstname
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.customerName}}</td>
                </ng-container>

                <ng-container matColumnDef="customerLastname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Lastname
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.customerLastname}}</td>
                </ng-container>

                <ng-container matColumnDef="customerPhone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Phone Number
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.customerPhone}}</td>
                </ng-container>

                <ng-container matColumnDef="rrn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Reff 
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.rrn}}</td>
                </ng-container>

                <ng-container matColumnDef="customerEmail">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Email
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.customerEmail}}</td>
                </ng-container>

                <ng-container matColumnDef="partner">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Partner
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.partner}}</td>
                </ng-container>

                <ng-container matColumnDef="vendor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Vendor
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.vendor}}</td>
                </ng-container>

                <ng-container matColumnDef="costInPoints">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Cost In Point
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.costInPoints}}</td>
                </ng-container>

                <ng-container matColumnDef="campaignName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Product Name
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.campaignName}}</td>
                </ng-container>

                <ng-container matColumnDef="product_code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Product Code
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.product_code}}</td>
                </ng-container>

                <ng-container matColumnDef="campaignType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Type
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.campaignType}}</td>
                </ng-container>

                <ng-container matColumnDef="cust_active_point_am">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Customer Active Point Amount
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.cust_active_point_am}}</td>
                </ng-container>

                <ng-container matColumnDef="deliveryStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Delivery Status
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.deliveryStatus.status}}</td>
                </ng-container>
                
                <ng-container matColumnDef="used">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Used
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.used}}</td>
                </ng-container>
                

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Status
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.status}}</td>
                </ng-container>

                <!-- <ng-container matColumnDef="delivery_status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Cost In Point
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <span *ngIf="row.status != undefined">
                            {{row.status.replace('00 (', '').replace('01 (', '').replace('09 (', '').replace(')', '')}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="used_unsused">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Cost In Point
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <span *ngIf="row.status != undefined">
                            {{row.status.replace('00 (', '').replace('01 (', '').replace('09 (', '').replace(')', '')}}
                        </span>
                    </td>
                </ng-container> -->

                <!-- <ng-container matColumnDef="date_time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Date Time
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.date_time}}</td>
                </ng-container>

                <ng-container matColumnDef="updated_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Updated At
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.updated_at}}</td>
                </ng-container>

                <ng-container matColumnDef="exp_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Expired Date
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.exp_date | date : "dd MMM yyyy HH:mm:ss"}}</td>
                </ng-container>

                <ng-container matColumnDef="created_at" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Transaction Date
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.created_at | date : "dd MMM yyyy"}}</td>
                </ng-container>

                <ng-container matColumnDef="created_at_time" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Transaction Time
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.created_at | date : "HH:mm:ss"}}</td>
                </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    <!-- paginator -->
    <mat-paginator [length]="dataTableLength" [pageSizeOptions]="[10, 15, 20, 100]"></mat-paginator>
</mat-card>
    