<h1 class="logo">
    Ottopoint
</h1>
<mat-accordion>
    <mat-nav-list>

        <a mat-list-item routerLink="./">Analytics</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="./users">Users</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="./users-eligibility">Users Eligibility</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="./upload-adjusment">Bulk Upload Adjusment</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="./upload-addcustomer">Bulk Upload Customer</a>
        <!-- <mat-divider></mat-divider>
        <a mat-list-item routerLink="./osp" >Outstanding Point</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="./outstanding_voucher" >Outstanding Voucher</a> -->

    </mat-nav-list>

    <mat-divider></mat-divider>
    
    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            Transactions
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <mat-nav-list style="margin: 0;">
            <mat-accordion>
                <a mat-list-item routerLink="./transactions/vouchers/redeem">Vouchers Redeem</a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="./transactions/vouchers/redeemopl">Vouchers Redeem OPL</a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="./transactions/redeempointopl">Redeem Point OPL</a>
                <mat-divider></mat-divider>
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header class="sub-header">
                        Earnings
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-nav-list style="margin: 0;">
                        <a mat-list-item routerLink="./transactions/earnings/ppob" class="sub-content">OttoFin</a>
                       <mat-divider></mat-divider>
                        <!-- <a mat-list-item routerLink="./transactions/earnings/osp" class="sub-content">Outstanding Point</a>
                        <mat-divider></mat-divider> -->
                        <a mat-list-item routerLink="./transactions/earnings/earningopl" class="sub-content">Earning Point OPL</a>
                        <!-- <mat-divider></mat-divider>
                        <a mat-list-item routerLink="./transactions/earnings/qr" class="sub-content">Payments QR</a> -->
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-divider></mat-divider>

    <mat-expansion-panel class="mat-elevation-z0" *ngIf="isAdmin">
        <mat-expansion-panel-header>
            Outstanding
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <mat-nav-list style="margin: 0;">
            <mat-accordion>
                <a mat-list-item routerLink="./outstanding/point">Outstanding Point</a>
            </mat-accordion>
            <mat-accordion>
                <a mat-list-item routerLink="./outstanding/voucher">Outstanding Voucher</a>
            </mat-accordion>
        </mat-nav-list>
    </mat-expansion-panel>
    
    <mat-divider></mat-divider>

    <mat-expansion-panel class="mat-elevation-z0" *ngIf="isAdmin">
        <mat-expansion-panel-header>
            Settings
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <mat-nav-list style="margin: 0;">
            <mat-accordion>
                <a mat-list-item routerLink="./settings/variables/transactions">Transaction Variables</a>
            </mat-accordion>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-divider></mat-divider>
     
    <mat-divider></mat-divider>

<!-- <mat-nav-list>
    <a mat-list-item routerLink="./ultravoucher">Ultra Voucher List</a>    
</mat-nav-list> -->




</mat-accordion>

