<mat-sidenav-container class="container">
    <mat-sidenav mode="{{mode}}" #sidenav opened class="mat-elevation-z5">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: #f2f2f2;">
        <mat-toolbar class="header mat-elevation-z5">
            <mat-toolbar-row>
                <b *ngIf="!sidenav.opened" style="font-size: 20px;">Ottopoint</b>
                <button mat-button (click)="sidenav.toggle()" class="btn-sidenav-toggle">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon">menu</mat-icon>
                </button>

                <button mat-button [matMenuTriggerFor]="menu" class="setting">Setting
                    <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openFormChangePassword()" >Change Password</button>
                  <button mat-menu-item routerLink="./users_customer">User</button>
                  <button mat-menu-item routerLink="/login" (click)="logout()">Logout</button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
