<mat-card>
    <div class="loading-shade" *ngIf="isWaitingDownload">
        <mat-spinner *ngIf="isWaitingDownload"></mat-spinner>
    </div>
    <!-- judul -->
    <h1> User Role </h1>
    <div id="heightFilterAndActions">
        <!-- filters -->
        <br>
        <mat-form-field class="filter-field">
            <input matInput placeholder="Nama" [(ngModel)] = "ts.nama">
        </mat-form-field>
        <mat-form-field class="filter-field">
            <input matInput placeholder="Role" [(ngModel)] = "ts.role">
        </mat-form-field>
        <!-- actions -->
        <br>
        <button mat-raised-button color="primary">
            Filter
        </button>

        <button mat-raised-button color="primary">
            Add User
        </button>

        <!-- <button mat-raised-button color="primary" (click)="submitFilter()">Filter</button>
        <button mat-stroked-button color="warn" (click)="clearFilter()">Clear Filter</button>
        <button mat-raised-button color="primary" class="btn-export-to-csv" (click)="exportToCSV()">
            Export to CSV
        </button>
        <button mat-raised-button color="primary" (click)="exportToXLSX()">
            Export to XLSX
        </button>
        <button mat-raised-button color="warn" class="btn-eligible" (click)="openFormAddEligibleUser()" *ngIf='isCanCreate'>
            Add Eligible
        </button> -->
    </div>
    
    <!-- table
    <div class="parent-table-container">
        <div class="loading-shade" *ngIf="isLoadingResults || isNoData">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="no-data" *ngIf="isNoData">
                No Data 
            </div>
        </div>
        <div class="table-container" [style.height.px]="tableHeight">
            <table mat-table [dataSource]="dataTable" matSort matSortActive="id" matSortDisableClear matSortDirection="desc">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        ID
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.id}}</td>
                </ng-container>

                <ng-container matColumnDef="no" sticky>
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        No
                    </th>
                    <td mat-cell *matCellDef="let i = index">{{(paginator.pageSize * paginator.pageIndex) + (i+1)}}</td>
                </ng-container>

                <ng-container matColumnDef="nama">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Nama
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.nama}}</td>
                </ng-container>
    
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Phone
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.phone}}</td>
                </ng-container>
    
                <ng-container matColumnDef="cust_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Customer ID
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.cust_id}}</td>
                </ng-container>
    
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Email
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.email}}</td>
                </ng-container>
    
                <ng-container matColumnDef="merchant_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Merchant ID
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.merchant_id}}</td>
                </ng-container>
    
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Status
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.status}}</td>
                </ng-container>
    
                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Action
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <button *ngIf="!row.cust_id" mat-stroked-button color="warn" (click)="openFormRegisterUser(row)" style="width: 100px;">Register</button>
                        <button *ngIf="row.cust_id" mat-stroked-button disabled style="width: 100px;">Registered</button>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div> -->
    <!-- paginator -->
    <mat-paginator [length]="dataTableLength" [pageSizeOptions]="[10, 15, 20, 100]"></mat-paginator>
</mat-card>
