<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<h1 mat-dialog-title>Filter Export Data Qr Transactions to CSV</h1>
<form [formGroup]="filterExportForm" (ngSubmit) = "submit()">
    <div mat-dialog-content>
        <mat-form-field style="width: 49%;">
            <input matInput [matDatepicker]="dp" placeholder="From date : dd/MM/yyyy" formControlName="from_date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="width: 49%; margin-left: 2%;">
            <input matInput [matDatepicker]="dp2" placeholder="Through date : dd/MM/yyyy" formControlName="through_date">
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sender's phone" formControlName="sender_phone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Recipient's phone" formControlName="recipient_phone">
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
        <button mat-raised-button type="submit" color="primary">Submit</button>
    </div>
</form>