<mat-card>
    <!-- judul -->
    <h1>List User</h1>
    <!-- filters -->
    <br>
    <mat-form-field class="filter-field">
        <input matInput placeholder="nama" [(ngModel)]="fq.nama">
    </mat-form-field>
    <mat-form-field class="filter-field">
        <input matInput placeholder="phone" [(ngModel)]="fq.phone">
    </mat-form-field>
    <mat-form-field class="filter-field">
        <input matInput placeholder="email" [(ngModel)]="fq.email">
    </mat-form-field>
    <mat-form-field class="filter-field">
        <input matInput placeholder="merchant id" [(ngModel)]="fq.merchant_id">
    </mat-form-field>
    <!-- actions -->
    <br>
    <button mat-raised-button color="primary" (click)="submitFilter()">Filter</button>
    <button mat-stroked-button color="warn" (click)="clearFilter()">Clear Filter</button>
    <button mat-raised-button color="primary" class="btn-export-to-csv" (click)="openFormExportToCSV()">
        Export To CSV
    </button>
    <button mat-raised-button color="warn" class="btn-eligible" (click)="openFormAddEligibleUser()" *ngIf='isCanCreate'>
        Add Eligible
    </button>
    <!-- table -->
    <div class="parent-table-container">
        <div class="loading-shade" *ngIf="isLoadingResults || isNoData">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="no-data" *ngIf="isNoData">
                No Data 
            </div>
        </div>
        <div class="table-container" [style.height.px]="tableHeight">
            <table mat-table [dataSource]="dataTable" matSort matSortActive="id" matSortDisableClear matSortDirection="desc">
    
                <ng-container matColumnDef="nama">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Nama
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.nama}}</td>
                </ng-container>
    
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Phone
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.phone}}</td>
                </ng-container>
    
                <ng-container matColumnDef="cust_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Customer ID
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.cust_id}}</td>
                </ng-container>
    
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Email
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.email}}</td>
                </ng-container>
    
                <ng-container matColumnDef="merchant_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Merchant ID
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.merchant_id}}</td>
                </ng-container>
    
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Status
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.status}}</td>
                </ng-container>
    
                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef disableClear>
                        Action
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <button *ngIf="!row.cust_id" mat-stroked-button color="warn" (click)="openFormRegisterUser(row)">Register</button>
                        <button *ngIf="row.cust_id" mat-stroked-button disabled>Registered</button>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    <!-- paginator -->
    <mat-paginator [length]="dataTableLength" [pageSizeOptions]="[10, 15, 20, 100]"></mat-paginator>
</mat-card>
